:root {
    --primary-bg: #202124;
    --secondary-bg: #35363a;
    --handle-color: #5f6368;
    --text-color: white;
    --icon-stroke-color: #e8eaed;
    --accent-color: #00a9ff;
    --accent-glow: #00a9f880;
    --accent-glow-strong: #00a9f84d;
    /* --accent-color: #8ab4f8; */
    /* --accent-glow: #8ab4f880;
    --accent-glow-strong: #8ab4f84d; */
    --pulse-color: #00a9ffb3;
    --pulse-end-color: #00a9ff00;
    --active-mic-bg: #00a9ff;
    --active-mic-icon: #202124;
}

body {
    background-color: var(--primary-bg);
    border-radius: 12px;
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    -webkit-app-region: drag;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-bar {
    position: relative;
    padding: 8px 12px;
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.drag-indicator-container {
    position: absolute;
    left: 3px;
    right: 0;
    display: flex;
    justify-content: center;
}

.drag-indicator {
    width: 40px;
    height: 4px;
    background-color: var(--handle-color);
    border-radius: 2px;
}

.close-button {
    cursor: pointer;
    -webkit-app-region: no-drag;
    z-index: 10;
}

.close-button svg {
    width: 10px;
    height: 10px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 15px 20px 15px;
}

.icon-button, .mic-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
}

.mic-button {
    background-color: var(--secondary-bg);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 2px var(--accent-glow), 0 0 10px 4px var(--accent-glow-strong);
}

.mic-button svg {
    width: 24px;
    height: 24px;
}

.mic-button svg path {
    fill: var(--accent-color);
}

.icon-button svg {
    width: 22px;
    height: 22px;
}

.settings-icon svg {
    width: 24px;
    height: 24px;
}

.help-icon svg {
    width: 20px;
    height: 20px;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--pulse-color);
    }
    70% {
        box-shadow: 0 0 0 10px var(--pulse-end-color);
    }
    100% {
        box-shadow: 0 0 0 0 var(--pulse-end-color);
    }
}

.mic-button.recording {
    background-color: var(--active-mic-bg);
    animation: pulse 2s infinite;
}

.mic-button.recording svg path {
    fill: var(--active-mic-icon);
}
